/*
1. Осн.текст            color: #212121;
2. Заметки/доп.текст    color: #757575;
3. Страница             color: #FFFFFF;
4. Фон                  color: #2F303A; color: #F5F4FA; color: #E5E5E5;
5. Ссылка/Кнопка        color: #2196F3;
*/

:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --bg-dark-color: #2F303A;
    --add-bg-color: #E5E5E5;
    --light-bg-color: #F5F4FA;
}

ul{
    list-style: none;
}

body{
    color: var(--primary-text-color);
    background-color: var(--white-text-color);
    font-family: 'Roboto', sans-serif;
    width: 1600px;
}

.link{
    text-decoration: none;
}

.header-container{
    background-color: var(--white-text-color);
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

.top-logo, span{
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.nav-site a{
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.nav-site > .mailform, .link:hover{
    color: var(--accent-color);
}

/* .nav-site{
    display: flex;
}
*/

.top-logo link:hover{
    color: var(--accent-color);
    letter-spacing: 0.03em;
}

.nav-site, .link{
    color: var(--accent-color);
}


/* Contacts navigation */

.studio, .contacts{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.portfolio{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mailform{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.phone-num{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* ------HERO------ */

.hero{
    background-color: var(--bg-dark-color);
}

.hero-title{
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button:hover,
.button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
}

.details-title, .punctual-title, .plan-title, .technology-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.details-text, .punctual-text, .plan-text, .technology-text{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}


/* ------ Main content ------*/

.button-menu{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.menu-container >.button-menu{
    background-color: var(--accent-color);
}

.menu-list p{
    color: var(--primary-text-color);
    background-color: var(--light-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ------ Gallery ------ */

.gallery-blog h3{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.gallery-blog p{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}


.techno-item{

}

.poster-blog{

}

.poster-item{

}






/*------ What we do ------*/

.wwd-title{
    color: var(--primary-text-color);

    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.front-develop{
    display: block;
    
}

.mob-develop{
    display: block;

}

.designer{
    display: block;

}

/*------ Team ------*/

.staff{
    background-color: var(--light-bg-color);
    width: 1600px;
}

.team-title{
    color: var(--primary-text-color);

    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.photo-igor{
    
}

.photo-olga{

}
.photo-nick{


}

.photo-mich{


}

.staff h3{
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}


.staff p{
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}


/*------ Footer ------*/

.footer{
    background-color: var(--bg-dark-color);
    width: 1600px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-container span{
    color: var(--white-text-color);
}

.footer-logo{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.footer-logo link:hover{
    color: var(--accent-color);
    letter-spacing: 0.03em;
}

.adress{
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-mail{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}


