/* Important */
:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --bg-dark-color: #2F303A;
    --add-bg-color: #E5E5E5;
    --light-bg-color: #F5F4FA;
    --card-item: 3;
    --card-gap: 30px;
}

p, h1, h2,
h3, h4, h5, h6{
    margin: 0px;
}

ul{
    margin: 0;
    padding-left: 0;
}

a{
    color: currentColor;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    margin: 0;
}

/* width: 1200px; */

img{
    max-width: 100%;
    height: auto;
    display: block;
}

button{
    cursor: pointer;
    font-family: inherit;
}

address{
    font-style: normal;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.text-black {
    color: #212121
}

.text-white{
    color: var(--white-text-color);
}

/* .card-set{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} */

/* ------Header------ */

.header{
    background-color: var(--white-text-color);
    width: 1200px;
    height: 80px;
}

.header-container{
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo link:hover,
.logo link:focus{
    color: var(--accent-color);
}

.logo{
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* ----Menu / Contacts */

.nav-site,
.nav-menu,
.contacts-menu{
    align-items: center;
}

.studio, .portfolio, .contacts{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;
    margin-top: 32px;
    margin-bottom: 32px;
    list-style-type: none;
}

.contacts-menu{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: auto;
}

.mailform{
    margin-right: 50px;
}

.style{
    display: block;
}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.current{
    color: var(--accent-color);
}

/* -----MainContent / HERO------ */

.hero{
    background-color: var(--bg-dark-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-bottom: 94px;
}

.hero-title{
    color: var(--white-text-color);
    width:696px;
    margin-top: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
}

.btn-link > button{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
}

.btn-style{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    font-family: inherit;
    letter-spacing: 0.06em;
    border-radius: 4px;
}

.btn-style:hover,
.btn-style:focus{
    color: var(--white-text-color);
    background-color: #1184e2;
    box-shadow: 0px 4px 4px rgba(35, 82, 184, 0.192);
}

/* -- Occupation -- */

.tasks-container{
    padding-left: 15px;
}

.tasks-list{
    margin-bottom: 94px;
    list-style: none;
}

.tasks-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tasks-text{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ------ Portfolio ------ */
/* ---- Buttons ---- */

.total-list{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.btn:hover,
.btn:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}

/* ------ Gallery ------ */

.gallery-list h3{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery-list p{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/*------ What we do ------*/

.wwd-container{
    padding-bottom: 94px;
    padding-left: 15px;
}

.wwd-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/*------ Team ------*/

.team-section{
    background-color: var(--light-bg-color);
}

.team-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
}

.spot-no{
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 40px;
}

.team-item{
    background-color: var(--white-text-color);
    list-style: none;
}

.text-title{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    display: block;
}

.team-prof{
    color: var(--secondary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}


/*------ Footer ------*/

.footer{
    background-color: var(--bg-dark-color);
}

.footer-container{
    margin-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo, span:hover{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.adress{
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-mail, .footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}