
:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --bg-dark-color: #2F303A;
    --add-bg-color: #E5E5E5;
    --light-bg-color: #F5F4FA;
}

p,
h1,
h2,
h3,
h4{
    margin: 0px;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body{
    color: var(--primary-text-color);
    background-color: var(--white-text-color);
    font-family: 'Roboto', sans-serif;
    width: 1600px;
}

address{
    font-style: normal;
}

.link{
    text-decoration: none;
}

.header-container{
    background-color: var(--white-text-color);
    width: 1600px;
    height: 80px;
}

.web-style{
    color: var(--accent-color);
}


.top-logo{
    margin: 24px 1240px 25px 215px;
}

.top-logo, span{
    color: var(--primary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.top-logo link:hover{
    color: var(--accent-color);
}

.nav-menu{
    margin-top: 32px;
}

.link:hover{
    color: var(--accent-color);
}

.studio-style, .portfolio-style, .contacts-style{
    display: inline-block;
    list-style-type: none;
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: 400;
}

.studio{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.current{
    color: var(--accent-color);
}

.portfolio{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
} 
.contacts{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mailform{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
}

.phone-num{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* -----Studio-HERO------ */

.hero{
    background-color: var(--bg-dark-color);
    width: 1600px;
    height: 600px;
    top: 80px;
}

.hero-title{
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 200px 452px 280px 452px;
    margin: 0;
}

.button-style:hover,
.button-style:focus{
    color: var(--white-text-color);
    background-color: #0b81e2;
}

.btn-link > button{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    position: absolute;
    left: 732px;
    top: 440px;
    cursor: pointer;
}    


/* -- Occupation -- */

.detail-style{
    display: inline-block;
}

.details-title, .punctual-title, .plan-title, .technology-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.details-text, .punctual-text, .plan-text, .technology-text{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71    ;
    letter-spacing: 0.03em;
}


/* ------ Main content ------*/

/* Portfolio */

.menu-container{
}

.menu-style {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-menu{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    display: inline-block;
}

.all-list, .website-list, .app-list,
.design-list, .marketing-list{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    display: inline-block;
}



/* ------ Gallery ------ */

.gallery{
    padding-top: 174px;
}


.gallery > h3{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery > p{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}


.techno-item{

}

.poster-blog{

}

.poster-item{

}



/*------ What we do ------*/

.wwd-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.front-develop{
    display: inline-block;
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.mob-develop{
    display: inline-block;
    padding-top: 94px;
    padding-bottom: 94px;

}

.designer{
    display: inline-block;
    padding-top: 94px;
    padding-bottom: 94px;

}

/*------ Team ------*/

.staff{
    background-color: var(--light-bg-color);
    width: 1600px;
}

.team-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.photo-igor{
    
}

.photo-olga{

}
.photo-nick{


}

.photo-mich{


}

.staff h3{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.staff p{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}


/*------ Footer ------*/

.footer{
    background-color: var(--bg-dark-color);
    width: 1600px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-container span{
    color: var(--white-text-color);
}

.footer-logo ,span:hover{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.adress{
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-mail{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}